---
layout: landing
type: landing
parent: Brand
---

<div class="brand">

	<div class="c-banner">
		<h1 class="c-banner__heading">Brand</h1>
	</div>
	<div class="l-g--2up">
		<div class="l-g--2up__gi">
			<p>This is an overview of the brand. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. This is an overview of the brand. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim.</p>
			</div>
		<div class="l-g--2up__gi">
			<div class="c-block">
				<h2 class="c-block__heading">Resources</h2>
				<ul class="c-block__list">
					<li class="c-block__item">
						<a href="http://www.cmu.edu/marcom/brand-guidelines/" class="c-block__link">Carnegie Mellon Brand Guidelines</a>
					</li>
					<li class="c-block__item">
						<a href="https://wordpress.org/about/logos/" class="c-block__link">Wordpress Brand Guidelines</a>
					</li>
					<li class="c-block__item">
						<a href="https://www.dropbox.com/branding/" class="c-block__link">Dropbox Branding</a>
					</li>
					<li class="c-block__item">
						<a href="http://mailchimp.com/about/brand-assets/" class="c-block__link">MailChimp Brand Assets</a>
					</li>
					<li class="c-block__item">
						<a href="http://feelix.myob.com/" class="c-block__link">MYOB Design</a>
					</li>
				</ul>
			</div>
		</div>
	</div>
		
			<ul class="c-grid-nav">
		        {% for my_page in site.pages %}
					{% if my_page.title %}
						{% if my_page.title != "Overview" %}
							{% if my_page.group == "brand" %}
								<li class="c-grid-nav__item">
									<a class="c-grid-nav__link" href="{% if my_page.title == 'Overview' %}/{{ my_page.group }}/index.html{% else %} {{ my_page.url | prepend: site.baseurl }}{% endif %}">
							      	{{ my_page.title }}
						          	</a>
							  	</li>
					  		{% endif %}
					  	{% endif %}
				  	{% endif %}
			    {% endfor %}
			</ul>
</div>
