---
layout: landing
---

<div class="code">

	<div class="c-banner">
		<h1 class="c-banner__heading">Code</h1>
	</div>
	<div class="l-g--2up">
		<div class="l-g--2up__gi">
			<p>This is an overview of the code. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. This is an overview of the brand. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt. Cras dapibus. Vivamus elementum semper nisi. Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim. Aliquam lorem ante, dapibus in, viverra quis, feugiat a, tellus. </p>
		</div>
		<div class="l-g--2up__gi">
			<div class="c-block">
				<h2 class="c-block__heading">Resources</h2>
				<ul class="c-block__list">
					<li class="c-block__item">
						<a href="http://workmanship.io/" class="c-block__link">workmanship.io</a> by Michael Fouquet
					</li>
					<li class="c-block__item">
						<a href="http://workmanship.io/" class="c-block__link">workmanship.io</a> by Michael Fouquet
					</li>
					<li class="c-block__item">
						<a href="http://workmanship.io/" class="c-block__link">workmanship.io</a> by Michael Fouquet
					</li>
					<li class="c-block__item">
						<a href="http://workmanship.io/" class="c-block__link">workmanship.io</a> by Michael Fouquet
					</li>
					<li class="c-block__item">
						<a href="http://workmanship.io/" class="c-block__link">workmanship.io</a> by Michael Fouquet
					</li>
				</ul>
			</div>
		</div>
	</div>
		
	<ul class="c-grid-nav">
        {% for my_page in site.pages %}
			{% if my_page.title %}
				{% if my_page.title != "Overview" %}
					{% if my_page.group == "code" %}
					<li class="c-grid-nav__item">
						<a class="c-grid-nav__link" href="{% if my_page.title == 'Overview' %}/{{ my_page.group }}/index.html{% else %} {{ my_page.url | prepend: site.baseurl }}{% endif %}">
				      	{{ my_page.title }}
			          	</a>
				  	</li>
				  	{% endif %}
				{% endif %}
		  	{% endif %}
	    {% endfor %}
	</ul>
</div>
