<div class="c-tabs c-tabs--gray js-tabs">

	<ul class="c-tabs__list">

		<li class="c-tabs__item">
			<a href="#tab-panel-1" class="c-tabs__link js-tab is-active">HTML</a>
		</li><!-- end c-tabs__item -->
		<li class="c-tabs__item">
			<a href="#tab-panel-2" class="c-tabs__link js-tab">JSX</a>
		</li><!-- end c-tabs__item -->
		<li class="c-tabs__item">
			<a href="#tab-panel-3" class="c-tabs__link js-tab">Angular</a>
		</li><!-- end c-tabs__item -->
        <li class="c-tabs__item">
			<a href="#tab-panel-3" class="c-tabs__link js-tab">Mustache</a>
		</li><!-- end c-tabs__item -->

	</ul><!-- end c-tabs__list -->

	<div class="c-tabs__body">

		<div class="c-tabs__panel js-tabs-panel is-active" id="tab-panel-1">
<pre class="highlight html"><code class="language-html">&lt;button class="c-btn"&gt;Button&lt;/button&gt;</code></pre>
		</div>
		<div class="c-tabs__panel js-tabs-panel" id="tab-panel-2">
<pre><code>Tab 2 content</code></pre>
		</div>
		<div class="c-tabs__panel js-tabs-panel" id="tab-panel-3">
<pre><code>Tab 3 content</code></pre>
		</div>
	</div>

</div><!-- end c-tabs -->
