<section class="c-section">

    <div class="c-section-header ">

    <h1 class="c-section-header__title">Contribute and Discuss</h1>

    <p class="c-section-header__desc">Get involved with the design system</p>

    </div><!-- end c-page-header -->


    <ul class="c-card-list l-grid l-grid--3up ">

        <li class="c-card-list__item l-grid__item">

            <a href="#" class="c-card ">

                <div class="c-card__body">
                    <h2 class="c-card__title">
                        <span class="c-card__title-text">Contribute</span>
                        <svg class="c-icon c-card__icon">
                            <use href="{{ "/icons.svg#chevron-right" | prepend: site.baseurl }}"></use>
                        </svg>
                    </h2><!-- end c-card__title -->

                    <p class="c-card__desc">Contribute to the design system here</p>

                </div><!-- end c-card__body -->

            </a><!-- end c-card -->

        </li><!-- end c-card-list__item -->
        <li class="c-card-list__item l-grid__item">

            <a href="#" class="c-card ">

                <div class="c-card__body">

                    <h2 class="c-card__title">
                        <span class="c-card__title-text">Discuss</span>
                        <svg class="c-icon c-card__icon">
                            <use href="{{ "/icons.svg#chevron-right" | prepend: site.baseurl }}"></use>
                        </svg>
                    </h2><!-- end c-card__title -->

                    <p class="c-card__desc">Join the discussion of the design system here</p>

                </div><!-- end c-card__body -->

            </a><!-- end c-card -->

        </li><!-- end c-card-list__item -->

        <li class="c-card-list__item l-grid__item">
            <a href="#" class="c-card ">

                <div class="c-card__body">

                    <h2 class="c-card__title">
                        <span class="c-card__title-text">Any Issues?</span>
                        <svg class="c-icon c-card__icon">
                            <use href="{{ "/icons.svg#chevron-right" | prepend: site.baseurl }}"></use>
                        </svg>
                    </h2><!-- end c-card__title -->

                    <p class="c-card__desc">Having troubles with the design system? Report any issues here</p>

                </div><!-- end c-card__body -->

            </a><!-- end c-card -->

        </li><!-- end c-card-list__item -->

    </ul><!-- end c-card-list -->

</section>
