<section class="ah_c_section">

    <div class="ah_c_section-header ">

    <h1 class="ah_c_section-header__title">Contribute and Discuss</h1>

    <p class="ah_c_section-header__desc">Get involved with the design system</p>

    </div><!-- end ah_c_page-header -->


    <ul class="ah_c_card-list ah_l_grid ah_l_grid--3up ">

        <li class="ah_c_card-list__item ah_l_grid__item">

            <a href="#" class="ah_c_card ">

                <div class="ah_c_card__body">
                    <h2 class="ah_c_card__title">
                        <span class="ah_c_card__title-text">Contribute</span>
                        <svg class="ah_c_icon ah_c_card__icon">
                            <use href="{{ "/icons.svg#chevron-right" | prepend: site.baseurl }}"></use>
                        </svg>
                    </h2><!-- end ah_c_card__title -->

                    <p class="ah_c_card__desc">Contribute to the design system here</p>

                </div><!-- end ah_c_card__body -->

            </a><!-- end ah_c_card -->

        </li><!-- end ah_c_card-list__item -->
        <li class="ah_c_card-list__item ah_l_grid__item">

            <a href="#" class="ah_c_card ">

                <div class="ah_c_card__body">

                    <h2 class="ah_c_card__title">
                        <span class="ah_c_card__title-text">Discuss</span>
                        <svg class="ah_c_icon ah_c_card__icon">
                            <use href="{{ "/icons.svg#chevron-right" | prepend: site.baseurl }}"></use>
                        </svg>
                    </h2><!-- end ah_c_card__title -->

                    <p class="ah_c_card__desc">Join the discussion of the design system here</p>

                </div><!-- end ah_c_card__body -->

            </a><!-- end ah_c_card -->

        </li><!-- end ah_c_card-list__item -->

        <li class="ah_c_card-list__item ah_l_grid__item">
            <a href="#" class="ah_c_card ">

                <div class="ah_c_card__body">

                    <h2 class="ah_c_card__title">
                        <span class="ah_c_card__title-text">Any Issues?</span>
                        <svg class="ah_c_icon ah_c_card__icon">
                            <use href="{{ "/icons.svg#chevron-right" | prepend: site.baseurl }}"></use>
                        </svg>
                    </h2><!-- end ah_c_card__title -->

                    <p class="ah_c_card__desc">Having troubles with the design system? Report any issues here</p>

                </div><!-- end ah_c_card__body -->

            </a><!-- end ah_c_card -->

        </li><!-- end ah_c_card-list__item -->

    </ul><!-- end ah_c_card-list -->

</section>
