<header class="header" role="banner">
	<button class="nav__trigger">Menu</button>
	<nav class="nav" role="navigation">
        <ul class="nav__list">
           	<li class="nav__item">		  	
	            <a class="nav__link js-nav__link" href="/brand/index.html">
		            Brand
	            </a>
	           	<ul class="nav__sublist">	    
		        {% for my_page in site.pages %}
					{% if my_page.title %}
						{% if my_page.group == "brand" %}
						<li class="nav__sublist__item">
							<a class="nav__link" href="{{ my_page.url | prepend: site.baseurl }}">
					      	{{ my_page.title }}
				          	</a>
					  	</li>
					  	{% endif %}					  	
				  	{% endif %}
			    {% endfor %}
	            </ul>
            </li>
            <li class="nav__item">
	            <a class="nav__link js-nav__link" href="/principles.html">
		            Principles
	            </a>
	            <ul class="nav__sublist">
		        {% for my_page in site.pages %}
					{% if my_page.title %}
						{% if my_page.group == "principles" %}
						<li class="nav__sublist__item">
							<a class="nav__link" href="{{ my_page.url | prepend: site.baseurl }}">
					      	{{ my_page.title }}
				          	</a>
					  	</li>
					  	{% endif %}
				  	{% endif %}
			    {% endfor %}
	            </ul>
            </li>
            <li class="nav__item">
	            <a class="nav__link js-nav__link" href="/voice-and-tone/index.html">
		            Voice and Tone
		        </a>
		        <ul class="nav__sublist">
		        {% for my_page in site.pages %}
					{% if my_page.title %}
						{% if my_page.group == "voice-and-tone" %}
						<li class="nav__sublist__item">
							<a class="nav__link" href="{{ my_page.url | prepend: site.baseurl }}">
					      	{{ my_page.title }}
				          	</a>
					  	</li>
					  	{% endif %}
				  	{% endif %}
			    {% endfor %}
	            </ul>
	        </li>
            <li class="nav__item">
	            <a class="nav__link js-nav__link" href="/writing.html">
		            Writing
	            </a>
	            <ul class="nav__sublist">
		        {% for my_page in site.pages %}
					{% if my_page.title %}
						{% if my_page.group == "writing" %}
						<li class="nav__sublist__item">
							<a class="nav__link" href="{{ my_page.url | prepend: site.baseurl }}">
					      	{{ my_page.title }}
				          	</a>
					  	</li>
					  	{% endif %}
				  	{% endif %}
			    {% endfor %}
	            </ul>
            </li>
            <li class="nav__item">
	            <a class="nav__link js-nav__link" href="/patterns.html">
		            Patterns
	            </a>
	            <ul class="nav__sublist">
		        {% for my_page in site.pages %}
					{% if my_page.title %}
						{% if my_page.group == "patterns" %}
						<li class="nav__sublist__item">
							<a class="nav__link" href="{{ my_page.url | prepend: site.baseurl }}">
					      	{{ my_page.title }}
				          	</a>
					  	</li>
					  	{% endif %}
				  	{% endif %}
			    {% endfor %}
	            </ul>
            </li>
            <li class="nav__item">
	            <a class="nav__link js-nav__link" href="/code/index.html">
		            Code
		        </a>
		        <ul class="nav__sublist">
		        {% for my_page in site.pages %}
					{% if my_page.title %}
						{% if my_page.group == "code" %}
						<li class="nav__sublist__item">
							<a class="nav__link" href="{{ my_page.url | prepend: site.baseurl }}">
					      	{{ my_page.title }}
				          	</a>
					  	</li>
					  	{% endif %}
				  	{% endif %}
			    {% endfor %}
	            </ul>
	        </li>
        </ul>
    	<ul class="secondary-nav">
			<li class="nav__item secondary-nav__item">
				<a class="nav__link secondary-nav__link" href="/about.html">
		      	About
	          	</a>
		  	</li>
		  	<li class="nav__item secondary-nav__item">
				<a class="nav__link secondary-nav__link" href="/updates.html">
		      	Updates
	          	</a>
		  	</li>
		</ul>
    </nav>
    <a class="header__title" href="{{ site.baseurl }}/" rel="home">{{ site.title }}</a>
</header><!--end sgg-header-->
