@import "variables";
@import "mixins";


/*--------------------
	IMPORT
--------------------*/

/*------------------------------------*\
    $RESET
\*------------------------------------*/

// Border-Box http:/paulirish.com/2012/box-sizing-border-box-ftw/
* {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

html, body, div, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, ol, ul, li, form, legend, label, table, header, footer, nav, section, figure {
    margin: 0;
    padding: 0;
}

header, footer, nav, section, article, hgroup, figure, main {
    display: block;
}

/*------------------------------------*\
    $FORMS
\*------------------------------------*/

html {
    position: relative;
    height: 100%;
}

form ol, form ul {
    list-style: none;
    margin-left: 0;
}

fieldset {
    padding: 0;
    border: 0;
}

legend {
    font-weight: bold;
    color: $gray;
    margin-bottom: $space;
}

label {
    color: $gray-dark;
    font-size: $font-size-med;
    font-weight: 500;
    display: block;
    padding-bottom: $space-quarter;
    margin: 0;
}

button, input, select, textarea {
    font-family: inherit;
    font-size: 100%;
    margin: 0;
}

input, textarea {
    width: 100%;
    border: 2px solid $gray-light-2;
    border-radius: $border-radius;
    padding: 0.7em;
    font-size: $font-size-med-2;
    font-weight: 300;
    transition: border-color $anim-fast ease-out;

    &:hover {
        border-color: $gray-light-3;
    }

    &:focus {
        border-color: $brand-color;
    }
}

textarea {
    display: block;
    min-height: 4em;
}

input[type=text], input[type=search], input[type=url], input[type=number], textarea {
    -webkit-appearance: none;
}

//Color input
input[type=color] {
    padding: 0.1em;
    min-height: 5em;
    width: 100%;
}

//Submit buttons
button, input[type=submit] {
    cursor: pointer;
    width: auto;
}

//Checkbox and radio
input[type=checkbox], input[type=radio] {
    width: auto;
    margin-right: 0.3em;
}

//Search input
input[type=search] {
    -webkit-appearance: none;
    border-radius: 0;
}

//Datalist
input[list] {
    position: relative;
}

//Search input
input[type=file] {
    line-height: 1;
}

//Select input
select {
    display: block;
    width: 100%;
    border: 1px solid $gray-light-3;
    border-radius: $border-radius;
}

input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration {
    -webkit-appearance: none;
}

/*------------------------------------*\
    $HEADINGS
\*------------------------------------*/

h1  {
    font-size: 1.75em;
    font-weight: 300;
    line-height: 1.3;
    margin-bottom: 0.1em;
}

h2 {
    font-size: 2.2em;
    font-weight: 300;
    line-height: 1.2;
    margin-bottom: 0.3em;
}

h3 {
    font-size: 1.5em;
    font-weight: 300;
    line-height: 1.2;
    margin-bottom: 0.4em;
}

h4 {
    font-size: 1em;
    font-weight: 300;
    line-height: 1.2;
    margin-bottom: 0.4em;
}

/*------------------------------------*\
    $LINKS
\*------------------------------------*/

a {
    color: $gray-dark;
    text-decoration: none;
    outline: 0;
    transition: all $anim-fast ease-out; //Fade animation for all links on the interface

    &:hover, &:focus {
        color: $brand-color;
    }
}

/*------------------------------------*\
    $LISTS
\*------------------------------------*/

//List Reset
ol, ul {
    list-style: none;
}

//Definition Lists
dl {
    overflow: hidden;
    margin: 0;

    dt:last-of-type {
        border: 0;
    }

    dd:last-of-type {
        border: 0;
    }
}

dt {
    font-weight: bold;

    @media all and (min-width: $bp-med) {
        padding: $pad-half $pad-half $pad-half 0;
        border-bottom: 1px solid $gray-light-2;
        float: left;
        clear: left;
        width: 30%;
    }
}

dd {
    margin: 0 0 $space-half 0;
    border-bottom: 1px solid $gray-light-2;
    padding-bottom: $pad-half;

    @media all and (min-width: $bp-med) {
        float: left;
        width: 70%;
        padding: $pad-half 0;
        margin-bottom: 0;
    }
}

/*------------------------------------*\
    $MEDIA
\*------------------------------------*/

//Flexible Media
img, video, object {
    max-width: 100%;
    height: auto;
}

//Iframe
iframe {
    margin-bottom: $space;
}

//Figure
figure {
    margin-bottom: $space;

    img {
        margin-bottom: $space-quarter;
    }
}

figcaption {
    font-style: italic;
}

/*------------------------------------*\
    $TABLE
\*------------------------------------*/

table {
    border-collapse: collapse;
    border-spacing: 0;
}

th {
    text-align: left;
    color: $gray-light-3;
    font-weight: normal;
    font-size: $font-size-small;
}

/*------------------------------------*\
    $TEXT
\*------------------------------------*/

p {
    margin-bottom: $space;
}

//Blockquote
blockquote {
    font-style:italic;
    border-left: 1px solid $gray;
    color: $gray;
    padding-left: $pad;
    margin-bottom: $space;
}

//Horizontal Rule
hr {
    border: 0;
    height: 1px;
    background: $gray-light-3;
    margin: $space-double 0;
}

//Abbreviation
abbr {
    border-bottom: 1px dotted $gray;
    cursor: help;
}

strong {
    font-weight: 500;
}

.sgg-body {
    display: flex;
}
