/*------------------------------------*\
    #RESET
\*------------------------------------*/

/**
 * Border Box Everything
 */
* {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

/**
 * Zero Out Padding and Margin for Most Elements Initially
 */
html, body, div, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, ol, ul, li, form, legend, label, table, header, footer, nav, section, figure {
    margin: 0;
    padding: 0;
}

/**
 * Display Elements As Block Initially
 */
header, footer, nav, section, article, hgroup, figure, main {
    display: block;
}

/**
 * Button Reset
 */
button {
	cursor: pointer;
}



/*------------------------------------*\
    #FORMS
\*------------------------------------*/

/**
 * HTML Reset
 */
html {
    position: relative;
    height: 100%;
}

/**
 * Zero Out Margins and Add Font Size and Font Family to Buttons, Input, Select, and Text Areas
 */
button, input, select, textarea {
    font-family: inherit;
    font-size: 100%;
    margin: 0;
}





/*------------------------------------*\
    #HEADINGS
\*------------------------------------*/

/**
 * Heading 1 Reset
 */
h1 {
    font-size: 2.5rem;
    line-height: 1.3;
    margin-bottom: 0.1em;
}

/**
 * Heading 2 Reset
 */
h2 {
    font-size: 2.2em;
    font-weight: 300;
    line-height: 1.2;
    margin-bottom: 0.3em;
}

/**
 * Heading 3 Reset
 */
h3 {
    font-size: 1.5em;
    font-weight: 300;
    line-height: 1.2;
    margin-bottom: 0.4em;
}

/**
 * Heading 4 Reset
 */
h4 {
    font-size: 1em;
    font-weight: 300;
    line-height: 1.2;
    margin-bottom: 0.4em;
}





/*------------------------------------*\
    #LINKS
\*------------------------------------*/

/**
 * Link Reset
 */
a {
    color: $color-gray-63;
	cursor: pointer;
    text-decoration: none;
    outline: 0;
    transition: all $anim-fast ease-out; //Fade animation for all links on the interface

    &:hover, &:focus {
        color: $color-brand;
    }
}





/*------------------------------------*\
    #LISTS
\*------------------------------------*/

/**
 * List Reset
 */
ol, ul {
    list-style: none;
}





/*------------------------------------*\
    #TEXT
\*------------------------------------*/

/**
 * Paragraph Reset
 */
p {
    margin-bottom: $space;
}

