/*------------------------------------*\
    #BODY
\*------------------------------------*/

body {
    display: flex;
    flex-direction: column;
    background: $color-white;
    min-height: 100%;
    font: 100%/1.5 $font;
    -webkit-text-size-adjust: 100%;
    color: $color-gray-63;
    
    @media all and (min-width: 35em) {
	    flex-direction: row;
    }
}
