/*------------------------------------*\
    #SGG NAVIGATION
\*------------------------------------*/

.sgg-nav {
	&__list {
		display: none;
		height: 100vh;
		padding: 0.5em;
		min-width:10em;
		
		&__item {
			position: relative;
			
			&:hover, &:focus {
				
				&:after {
					border-right-color: $gray-light-2;
				}
				.sgg-nav__sublist {
					display: block;
					padding: 0.5em;
				}
			}
			
			&:after {
				content: "";
				display: block;
				width: 0; 
				height: 0; 
			    border-bottom: 10px solid transparent;
			    border-top: 10px solid transparent;
			    border-right: 10px solid $gray-light;
			    font-size: 0;
			    line-height: 0;
			    position: absolute;
			    top: 0;
			    right: -8px;
			}
		}
		
		&--active {
			display: block;
			position: absolute;
			background: $gray-light;
			top: 48px;
			left: 0;
			
			@media all and (min-width: 35em) {
				position: relative;
				top: 0;
			}
		}
		
		@media all and (min-width: 35em) {
			display: block;
		}
	}
	&__sublist {
		display: none;
		background: $gray-light-2;
		height: 100vh;
		position: absolute;
		left: 152px;
		top: 0;
		min-width: 10em;
	}
	
	&__link {
		display: flex;
	}
	
	@media all and (min-width: 35em) {
		order: 1;
	}
}
