@import "variables";
@import "mixins";
/*------------------------------------*\
    $ACCORDION
\*------------------------------------*/
 
.accordion {
    margin-bottom: $space;
}
 
//Accordion handle
.accordion__handle {
    background: $gray-dark-2;
    color: $white;
    font-weight: bold;
    display: block;
    position: relative;
    padding: $pad-half;
    border-bottom: 1px solid $gray-light-3;
 
    &:after {
        content:"+";
        float: right;
    }
         
    &:hover, &:focus {
        color: $white;
        background: $gray-dark;
 
    }
     
    &.active {
        background: $gray-dark;
 
        &:after {
            content:"-";
        }
    }
}
 
//Accordion panel
.accordion__panel {
    padding: $pad-half;
}

/*------------------------------------*\
    $ACCORDION
\*------------------------------------*/

.avatar {
    display: block;
    border: $border-med solid $gray-light-2;
    border-radius: 12em;
    overflow: hidden;
    width: 12em;
    height: 12em;
}
 
a.avatar {
    &:hover, &:focus {
        border-color: $brand-color;
    }
}

/*------------------------------------*\
    $BLOCKS
\*------------------------------------*/
 
.block {
    overflow: hidden;
 
    p:last-child {
        margin-bottom: 0;
    }
 
    img {
        border-radius: $border-radius;
    }
     
    //This is for placeholder/add new graphics
    &--potential {
        filter: grayscale(100%);
        opacity: 0.7;
         
        &:hover, &:focus {
            filter: grayscale(0%);
            opacity: 1;
        }
    }
}
 
.block__title {
    font-size: $font-size-med-3;
    margin: 0;
}
 
//Block Subtitle
.block__subtitle {
    font-size: $font-size-small;
    line-height: 1.3;
    color: $gray;
}
 
//Media Object
.block--media {
    .block__inner {
        display: block;
        @extend .cf;
    }
 
    .block__img {
        float: left;
        max-width: 5em;
        margin-right: $space-half;
 
        img {
            display: block;
            border: $border-med solid $gray-light-2;
            border-radius: 5em;
            transition: border-color $anim-fast ease-out;
        }
    }
 
    .block__body {
        @extend .cf;
        margin-left: 5.5em;
        margin-top: 0.5em;
    }
 
    .block__title {
        font-size: 1.2em;
        margin: 0;
    }
     
    a:hover, a:focus {
        img {
            border-color: $brand-color;
        }
    }
}
 
//Media Object
.block--media--large {
    .block__img {
        float: none;
        max-width: none;
        margin: 0 0 $space-half;
         
        img {
            border-radius: $border-radius;
        }
    }
     
    .block__body {
        float: none;
        margin: 0;
    }
 
    @media all and (min-width: $bp-small-2) {
        .block__img {
            float: left;
            max-width: 10em;
        }
         
        .block__body {
            margin-left: 11em;
        }
    }
}
 
//Block Link
.block--link {
    > a {
        display: block;
        border-radius: $border-radius;
    }
 
    .block__img img {
        display: block;
        border: 1px solid $gray-light-2;
        @include transition(border-color,$anim-fast,ease-out);
    }
 
    .block__text {
        padding: 0.3em 0 0;
        color: $gray;
        transition: color $anim-fast ease-out;
    }
     
    .block__subtitle {
        transition: color $anim-fast ease-out;
    }
 
    &:hover, &:focus {
        > a, img {
            border-color: $brand-color;
        }
 
        .block__text, .block__subtitle {
            color: $brand-color;
        }
    }
 
    //Add new styles
    &--new {
        > a {
            border-style: dashed;
            color: $gray-light;
 
            &:hover, &:focus {
                color: $gray;
            }
        }
 
        img {
            border-style: dashed;
        }
    }
}
 
//Block Thumb - stacked image on top of title
.block--thumb {
    .block__img {
        margin-bottom: $space-quarter;
         
        img {
            border: 1px solid $gray-light-2;
            transition: border-color $anim-fast ease-out;
        }
    }
     
    > a:hover, a:focus {
        img {
            border-color: $brand-color;
        }
    }
}
 
//Block Title with CTA
.block--title-subtitle {
    .block__title {
        font-size: $font-size-med;
    }
     
    a {
        text-decoration: underline;
    }
}
 
.l__primary {
    .block--title-subtitle {
        overflow: hidden;
         
        .block__title {
            font-weight: normal;
        }
         
        @media all and (min-width: $bp-med) {           
            .block__title {
                float: left;
            }
             
            .block__subtitle {
                float: right;
            }
        }
    }
}

/*------------------------------------*\
    $BUTTONS
\*------------------------------------*/
 
.btn {
    display: inline-block;
    background: $gray-dark;
    color: $white;
    line-height: 1;
    padding: $pad;
    border: 0;
    border-radius: $border-radius;
    text-align: center;
    position: relative;
     
    //Hover/focus state
    &:hover, &:focus {
        background: $gray-dark-2;
        color: $white;
    }
 
    //Active button treatment
    &:active {
        top: 1px;
    }
 
    //Alternative button treatment
    &--alt {
        background: $white; 
        padding: 0.7em;
        border: 1px solid $gray;
        color: $gray;
         
        //Icons that appear within buttons
        [class*="icon-"] {
            padding-right: 5px;
            color: $brand-color;
        }
         
        &:hover, &:focus {
            background: $white;
            border-color:  $brand-color;
            color:  $brand-color;
        }
         
        &.active {
            border-color: $brand-color;
            color:  $brand-color;
        }
    }
     
    //Block button
    &--block {
        display: block;
        width: 100%;
    }
 
    //Small Buttons
    &--small {
        padding: $pad-half;
    }
 
    &--large {
        font-size: $font-size-large;
    }
 
    //Disabled Buttons
    &--disabled {
        background: $gray-light;
        color: $gray-light-2;
    }
 
    //"Success" (aka valid, good, confirm) button
    &--success {
        background: $success;
        border: 1px solid $success-tone-med;
        color: $success-tone-med;
    }
 
    //"Info" (aka FYI, )
    &--info {
        background: $info;
        border: 1px solid $info-tone-med;
        color: $info-tone-med;
    }
 
    &--warning {
        background: $warning;
        border: 1px solid $warning-tone-med;
        color: $warning-tone-max;
    }
 
    &--error {
        background: $error;
        border: 1px solid $error-tone-med;
        color: $error-tone-med;
    }
}
 
 
.text-btn {
    display: inline-block;
    padding: 0.7em 0;
    font-weight: bold;
     
     
    &--muted {
        color: $gray;
        font-weight: normal;
    }
     
    &:hover, &:focus {
        color: $gray;
    }
     
    &--error {
        color: $error-tone-med;
         
        &:hover, &:focus {
            color: $error-tone-med;
            background: $error;
        }
    }
 
    &:active {
        position: relative;
        top: 1px;
    }
}
 
//Button Group
.btn-group {
    overflow: hidden;
 
    .btn-left {
        float: left;
    }
 
    .btn-right {
        float: right;
    }
}
 
.btn-group--repel {
    overflow: hidden;
 
    .btn:fist-child {
        float: left;
    }
     
    .text-btn:last-child {
        float: right;
    }
}
 
//Button Toolbar
.btn-toolbar {
    @extend .cf;
    margin-bottom: $space;
    border: 1px solid $gray-light-3;
    border-radius: $border-radius;
    display: flex;
 
    li {
        display: flex-box;
        flex-grow: 1;
        border-right: 1px solid $gray-light-3;
 
        &:last-child {
            border-right: 0;
        }
    }
 
    a {
        display: block;
        text-align: center;
        padding: $pad-half;
    }
}
 
//Button Container
.btn-container--space {
    margin: $space 0;
}

/*------------------------------------*\
    $FORMS
\*------------------------------------*/
 
.form__actions {
    margin-bottom: $space;  
}
 
//Label 
.label {
    @extend label;
}
 
.label--disabled {
    color: $gray-light-3;
}
 
//Form Field Container
.field {
    @extend .cf;
    margin-bottom: $space;
    border: 0;
    padding-bottom: 0;
 
    //Radio and Checkbox container
    &--radio__container, &--checkbox__container {
        margin-bottom: $space-quarter;
 
        label {
            display: inline;
            font-weight: normal;
        }
    }
     
    &__label {
        transition: color $anim-fast ease-out;
    }
     
    &--active {
        .field__note, .field__label {
            color: $brand-color;
        }
    }
 
    //Validation
    &--error {
        border-color: $error;
    }
 
    &--valid {
        border-color: $success;
    }
}
 
//Fields that appear within a grid item
.g__item {
    .field {
        margin-bottom: 0;
    }
}
 
//Footnote/Instruction for a form field
.field__note {
    display: block;
    padding-top: 0.3em;
    font-size: $font-size-small-2;
    line-height: 1.3;
    color: $gray-light-3;
    transition: color $anim-fast ease-out;
 
    a {
        text-decoration: underline;
    }
}
 
//Field Image Thumbnail
.field__img {
    float: left;
    max-width: 6em;
    margin-right: 1em;
    padding: $pad-half;
    border: 1px solid $gray-light;
    border-radius: $border-radius;
 
    img {
        display: block;
    }
}
 
//Field Input Groups
.field__input-group {
    display: table;
     
    input {
        display: table-cell;
        width: 100%;
         
        &:first-child {
            border-bottom-right-radius: 0;
            border-top-right-radius: 0;
        }
         
        &:last-child {
            border-bottom-left-radius: 0;
            border-top-left-radius: 0;
        }
    }
}
 
//Field Addons
.field__addon {
    background: $gray-light;
    border: 1px solid $gray-light-3;
    border-radius: $border-radius;
    padding: 0.5em $pad;
    display: table-cell;
    vertical-align: middle;
    width: 1%;
     
    &:first-child {
        border-bottom-right-radius: 0;
        border-top-right-radius: 0;
        border-right: 0;
    }
     
    &:last-child {
        border-bottom-left-radius: 0;
        border-top-left-radius: 0;
        border-left: 0;
    }
}
 
.field--textarea-action {
    textarea {
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
        border-bottom: 0;
    }
}
 
//Field preview area (media object-ish)
.field__preview {
    float: left;
    width: 10em;
}
 
.field__options {
    margin-left: 11em;
     
    .field__note {
        margin-bottom: $space;
    }
}
 
//Field footer
.field__footer {
    background: $gray-light;
    padding: $pad-half;
    border: 1px solid $gray-light-3;
    border-top: 0;
    border-bottom-left-radius: $border-radius;
    border-bottom-right-radius: $border-radius;
    color: $gray;
 
    a {
        text-decoration: underline;
    }
}
 
//File Upload Input
.upload-area {
    border: $border-med solid $gray-light-2;
    border-radius: $border-radius;
    position: relative;
    overflow: hidden;
    transition: border-color $anim-fast ease-out;
     
    img {
        display : block;
    }
     
    input[type=file] {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 2;
        opacity: 0;
        cursor: pointer;
    }
     
    &:hover, &:focus {
        border-color: $brand-color;
         
        .upload-area__cover {
            background: $dim;
        }
    }
}
 
.upload-area__cover {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: $dim-min;
    transition: background $anim-fast ease-out;
    color: $white;
    text-align: center;
    padding-top: 3.5em;
     
    span {
        display: block;
        font-size: 2em;
    }
}
 
.field--upload {
    max-width: 12em;
}
 
.field--avatar {
    .upload-area {
        border-radius: 6em;
    }
}
 
//Inline upload field
.inline-upload {
    position: relative;
     
    label {
        font-weight: normal;
        padding: 0;
    }
     
    input {
        opacity: 0;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        cursor: pointer;
    }
     
    &:hover, &:focus {
        label {
            color: $gray-dark;
        }
    }
}
 
.field--radio__list {
    border: 1px solid $gray-light-3;
    border-radius: $border-radius;
    padding: $pad-half;
}
 
//Checkbox Table
.field--checkbox-list {
    .field--checkbox__list {
        border-top: 1px solid $gray-light-3;
        margin-bottom: $space-half;
    }
     
    .field--checkbox__container {
        position: relative;
        border-bottom: 1px solid $gray-light-3;
        margin: 0;
    }
     
    label {
        display: block;
        padding: $pad-half 0;
        position: relative;
        cursor: pointer;
         
        &:hover, &:focus {
            background: $gray-light;
        }
    }
     
    input {
        position: absolute;
        right: 0;
        top: 50%;
        margin-top: -7px;
    }
}
 
//Color Picker
.field-color {
    .field__addon {
        padding: 0;
        background: none;
    }
     
    input[type=color] {
        width: 4em;
        border: 0;
        padding: 0;
        min-height: 2.6em;
    }
}
 
//Swatch
.field--swatch {
    margin-bottom: $space;
}
 
//Inline Form
.form--inline {
    fieldset {
        position: relative;
        border: 0;
        margin: 0;
    }
 
    &__btn {
        padding: 0.65rem 1.3rem;
        background: $gray-dark;
        position: absolute;
        top: 0;
        right: 0;
        z-index: 1;
        width: auto;
 
        &:hover, &:focus {
            color: $gray-dark;
        }
    }
}
 
//Search Form
.form--search {
    border: $border-med solid $dim;
    background: $dim;
 
    &__field {
        padding-right: 3em;
    }
 
    &__btn {
        background: none;
        padding: 0.6em 0.8em;
        border: 0;
        color: $gray;
    }
 
    @media all and (min-width: $bp-med) {
        display: none;
        background: $gray-dark;
        position: absolute;
        right: 4.2em;
        top: 100%;
 
        width: 25em;
 
        &.active {
            display: block;
        }
    }
}
 
//Full-Page Form - for full-width, main page content form elements
.form--full {
    fieldset {
        border-bottom: 1px solid $gray-light;
        padding: 0 0 $pad;
        margin: 0 0 $space;
 
        &.field--radio, &.field--checkbox {
            border-bottom: 0;
            padding-bottom: 0;
        }
         
        &:last-of-type {
            border-bottom: 0;
        }
    }
 
    .field {
        @media all and (min-width: $bp-med) {
            input, select, > textarea, .field--radio__list, .field--checkbox__list, .field--rich__container, .field__input-container {
                float: left;
                width: 70%;
            }
             
            .field__input-container input {
                float: none;
                width: auto;
            }
 
            input[type="checkbox"], input[type="radio"] {
                width: auto;
                float: none;
            }
 
            &__note {
                float: left;
                width: 30%;
                padding-left: $pad-double;
            }
        }
    }
}
 
//Split field
.field--split__left {
    float: left;
    width: 30%;
}
 
.field--split__right {
    float: left;
    width: 70%;
    padding-left: $pad-half;
}
 
//If Fieldset appears within tabs
.tab__body fieldset:last-of-type {
    margin-bottom: 0;
    padding-bottom: 0;
}

/*------------------------------------*\
    $GALLERY
\*------------------------------------*/
.gallery {
    position: relative; 
}
 
.gallery__container {
    position: relative;
     
    figure {
        margin-bottom: $space-half;
        max-width: 45em;
    }
 
    img {
        display: block;
        margin: 0 auto;
    }
     
    figcaption {
        font-size: $font-size-small;
        color: $gray;
        padding-top: 0.3em;
    }
     
    &--loading {
        background: url(../images/ajax-loader.gif) no-repeat 50% 50%;
    }
 
    @media all and (min-width: $bp-large) {
        display: -moz-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -webkit-box-items: center;
        align-items: center;
        vertical-align: middle;
        -moz-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
    }
}
 
//Asset Gallery Thumbnails
.gallery__thumblist {
    text-align: center;
     
    @media all and (min-width: $bp-med) {
        position: absolute;
        top: 0;
        left: 0;
    }
}
 
//Gallery Thumb
.gallery__thumb {
    display: inline-block;
    max-width: 5em;
 
    img {
        display: block;
    }
     
    @media all and (min-width: $bp-med) {
        display: block;
        margin-bottom: 0.2em;
    }
}
 
//Gallery Thumbnail Links
.gallery__link {
    display: block;
    padding: 0.2em;
    border: 1px solid $gray-light-2;
    border-radius: $border-radius;
    background: $white;
     
    &:hover, &:focus {
        border-color: $gray;    
    }
     
    &--active {
        border-color: $brand-color;
    }
}
 
//Text Gallery
.gallery--text {
    .gallery__container {
        @media all and (min-width: $bp-large) {
            min-height: 20em; 
        }
    }
}
 
.gallery__text {
    font-size: 2.4em;
    font-weight: bold;
}

/*--------------------
	ICONS
--------------------*/
.icon {

    > svg {
        display: inline-block;
        width: 16px;
        height: 16px;
        vertical-align: middle;

        path {
            fill: $grey-color;
        }
    }
}

/*------------------------------------*\
    $LISTS
\*------------------------------------*/
 
// Media Block List
.media-list {
    &__item {
        margin-bottom: $space-half;
        padding-bottom: $pad-half;
 
        &:last-child {
            border-bottom: 0;
            padding-bottom: 0;
            margin-bottom: 0;
        }
    }
}
 
//Color Swatch List
.swatch-list {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: $space-double;
     
    > li {
        margin-bottom: $space;
         
        display: flex-box;
        flex-grow: 1;
        margin-right: $pad-half;
         
        @media all and (min-width: $bp-large) {
             
        }
    }
}
 
//Grid list
.grid-list {
    .block__title {
        font-size: $font-size-med;
        margin-bottom: 0.2em;
    }
}
 
//Asset list
.asset-list {
    > li {
        padding-bottom: $pad;
        border-bottom: 1px solid $gray-light-2;
        margin-bottom: $space;
    }
}
 
//Icon Lists
.list-icons {
    margin-top: $space;
 
    &__item {
        margin-bottom: $space-half; 
    }
     
    a {
        font-weight: 500;
         
        &:hover, &:focus {
            span {
                color: $gray;
            }
        }
    }
     
    span {
        font-weight: 300;
        color: $gray-light-3;
        display: inline-block;
        margin-right: 5px;
    }
}



/*------------------------------------*\
    $MESSAGES
\*------------------------------------*/
 
.message {
    background: $gray-light;
    border-top: 1px solid $gray-light-2;
    border-bottom: 1px solid $gray-light-2;
     
    &--box {
        border: 1px solid $gray-light-2;
        border-radius: $border-radius;
        margin-bottom: $space;
         
        .lc {
            padding: $pad;
        }
    }
}
 
.message__text {
    font-size: 90%;
}
 
.message--success {
    background: $success;
    border-color: $success-tone;
    color: $success-tone-med;
}
 
.message--info {
    background: $info;
    border-color: $info-tone;
    color: $info-tone-med;
}
 
.message--warning {
    background: $warning;
    border-color: $warning-tone;
    color: $warning-tone-max;
}
 
.message--error {
    background: $error;
    border-color: $error-tone;
    color: $error-tone-med;
}

/*------------------------------------*\
    $NAVIGATION
\*------------------------------------*/
 
.nav-toggle-list {
    float: right;
     
    > li {
        float: left;
    }
}
 
//Navigation toggle triggers
.nav-toggle {
    line-height: 1;
    position: relative;
    display: table-cell;
    vertical-align: middle;
    padding: 0 0.85em;
    height: $header-height;
    line-height: 1;
    border-left: 1px solid $gray-light-2;
 
    &:hover, &:focus, &.active {
        background: $dim-min;
        color: $black;
    }
     
    &.active {
        &:after {
            color: $brand-color;
        }
    }
     
    //Primary nav toggle
    &--menu {
        position: relative;
     
        @media all and (min-width: $bp-med) {
            display: none;
        }
    }
     
    //Profile nav toggle
    &--profile {
        padding-right: 1em;
         
        &:after {
            content: "\25BC";
            font-size: 10px;
            margin-left: 3px;
            color: $gray-light-3;
            position: absolute;
            top: 50%;
            right: 0.5em;
            display: inline-block;
            margin-top: -3px;
            transition: color $anim-fast ease-out;
        }
 
        img {
            border: $border-med solid $gray-light-3;
            transition: border-color $anim-fast ease-out;
            border-radius: 3em;
            width: 2.5em;
            height: 2.5em;
             
            @media all and (min-width: $bp-med) {
                width: 3em;
                height: 3em;
            }
        }
         
        &.active {
            img {
                border-color: $brand-color;
            }
        }
         
        @media all and (min-width: $bp-med) {
            height: $header-height-large;
            padding: 0 $pad;
        }
    }
     
    //Search toggle
    &--search {
        position: relative;
        right: 2.8em;
     
        @media all and (max-width: $bp-med) {
            display: none;
        }
    }
}
 
.nav-container {
    display: none; //Hide for small screens. Will be toggled open by adding .active class
    clear: both;
 
    &.active {
        display: block;
    }
 
    @media all and (min-width: $bp-med) {
        display: block;
        clear: none;
    }
}
 
//Display nav container for non-JS users
.no-js .nav-container {
    display: block;
}
 
//Primary Navigation
.nav {
    clear: both;
    line-height: 1;
    background: $dim-min;
 
    a {
        display: block;
        padding: $pad;
        border-top: 1px solid $dim-min;
         
        &:hover, &:focus {
            background: $dim-min;
            color: $black;
             
            &:after {
                color: $gray;
            }
        }
 
        @media all and (min-width: $bp-med) {
            border: 0;
        }
    }
 
    &__item {
        position: relative;
 
        @media all and (min-width: $bp-med) {
            float: left;
        }
    }
 
    //Link triggers for subnavigation
    a.nav__subnavlink {
        position: relative;
        display: block;
 
        &.active {
            background: $dim-min;
            color: $brand-color;
             
            &:after {
                color: $brand-color;
            }
        }
 
        &:after {
            content: "\25BC";
            font-size: 10px;
            display: inline-block;
            margin-left: 3px;
            color: $gray-light-3;
            transition: color $anim-fast ease-out;
        }
 
        @media all and (min-width: $bp-med) {
            height: $header-height-large;
            display: table-cell;
            vertical-align: middle;
        }
    }
     
    .subnav__link {
        background: $dim-min;
         
        &:hover, &:focus {
            background: none;
            color: $brand-color;
        }
 
        //+Add New links
        &--new {
            font-style: italic;
 
            &:after {
                content: " +";
            }
        }
    }
 
    //Medium screen styles
    @media all and (min-width: $bp-med) {
        background: none;
        max-height: none;
        float: right;
        clear: none;
    }
}
 
.subnav {
    display: none;
    border-radius: $border-radius;
    border-top-left-radius: 0;
 
    &.active {
        display: block;
    }
 
    @media all and (min-width: $bp-med) {
        background: $gray-light;
        width: 10em;
        position: absolute;
        top: $header-height-large;
        left: 0;
        z-index: 1;
    }
}
 
.no-js .subnav {
    display: block;
}
 
 
//Profile navigation in header
.nav-profile {
 
    //Dropdown container
    &__tooltip {
        display: none; //Hide by default. Will be toggled open by adding .active class
        clear: both;
        background: $gray-light;
        border: 1px solid $dim-min;
        border-radius: $border-radius;
        border-top-right-radius: 0;
 
        a {
            display: block;
            background: $dim-min;
             
            &:hover, &:focus {
                background: none;
                color: $brand-color;
            }
        }
 
        &.active {
            display: block;
        }
         
        @media all and (min-width: $bp-small-3) {
            position: absolute;
            top:  $header-height;
            right: $pad-double;
            z-index: 1;
            width: 20em;
        }
 
        @media all and (min-width: $bp-med) {
            top:  $header-height-large;
        }
    }
 
    //Project List
    &__project-list {
        li {
            border-bottom: 1px solid $dim;
 
            &:last-child {
                border: 0;
            }
        }
 
        a {
            padding: $pad-half;
        }
    }
 
    //Link List
    &__list {
        a {
            display: block;
            padding: $pad;
            border-top: 1px solid $dim-min;
             
            &:hover, &:focus {
                span {
                    color: $gray-dark;
                }
            }
        }
 
        span {
            display: inline-block;
            margin-right: 0.5em;
            opacity: $transparent-med;
            color: $gray;
            transition: color $anim-fast ease-out;
        }
    }
     
    @media all and (min-width: $bp-small-2) {
        right: $pad;
    }
     
    @media all and (min-width: $bp-small-3) {
        right: $pad-double;
    }
}

.sgg-nav {
	&__list {
		display: none;
		height: 100vh;
		padding: 0.5em;
		min-width:10em;
		
		&__item {
			
			&:hover, &:focus {
				.sgg-nav__sublist__has-children {
					display: block;
					padding: 0.5em;
				}
			}
		}
		
		&--active {
			display: block;
			position: absolute;
			background: $gray-light;
			top: 48px;
			left: 0;
		}
	}
	&__sublist__has-children {
		display: none;
		background: $gray-light-2;
		height: 100vh;
		position: absolute;
		left: 159px;
		top: 0;
		min-width: 10em;
		
		&:before {
			content: "";
			display: block;
			width: 0; 
			height: 0; 
		    border-bottom: 10px solid transparent;
		    border-top: 10px solid transparent;
		    border-right: 10px solid $gray-light-2;
		    font-size: 0;
		    line-height: 0;
		    position: absolute;
		    top: 9px;
		    left: -10px;
		}
	}
	
	&__link {
		display: flex;
	}
}

/*------------------------------------*\
    $PROGRESS
\*------------------------------------*/
 
.progress {
    background: $warning;
    padding: $pad;
    border-radius: $border-radius;
    margin-bottom: $space;
 
    //Progress Bar Container
    &__inner {
        margin-bottom: $space-half;
    }
 
    //Progress Bar
    &__bar {
        -moz-appearance: none;
        -webkit-appearance: none;
        appearance: none;
        border: none;
        background: $gray-light;
        background-size: auto;
        width: 100%;
        height: 2em;
        overflow: hidden;
        border-radius: 1em;
 
        //Progress bar background
        &::-webkit-progress-bar {
            background: $gray-light;
        }
 
        &::-moz-progress-bar {
            background: $success-tone-med;
        }
 
        //Progress bar value
        &::-webkit-progress-value {
            background: $success-tone-med;
        }
 
        &.anim::-moz-progress-bar {
            -moz-transition: width $anim-slow ease-out;
        }
 
        &.anim::-webkit-progress-value {
            -webkit-transition: width $anim-slow ease-out; 
            -o-transition: width $anim-slow ease-out; 
            transition: width $anim-slow ease-out; 
        }
 
        &.start::-moz-progress-bar {
            width: 0% !important;
            background: #cdcaa2 !important;
        }
 
        &.start::-webkit-progress-value {
            width: 0% !important;
            background: #cdcaa2 !important;
        }
    }
     
    //Text buttons
    .text-btn {
        padding: 0;
    }
 
    //Progress text
    &__guide__text {
        margin: 0;
         
        a {
            text-decoration: underline;
        }
    }
}

/*------------------------------------*\
    $SECTIONS
\*------------------------------------*/
 
//Section
.section {
    @extend .cf;
    margin-bottom: $space;
     
    //Section Header
    &__header {
        padding: $pad-half;
        position: relative;
     
        a {
            display: block;
             
            &:hover, &:focus {
                .section__controls {
                    opacity: 1;
                }
            }
        }
     
         
     
        @media all and (min-width: $bp-large) {
            padding: $pad-half $pad;
        }
    }
     
    //Section Controls
    &__controls {
        font-size: $font-size-small;
        opacity: 0; //Hidden by default, exposed via hover over .section__header
        transition: opacity $anim-fast ease-out;
    }
     
    //Section Title
    &__title {
        font-size: $font-size-large;
        margin: 0;
         
        &:after {
            content : "";
            display: block;
            height: 1px;
            width: 50px;
            margin-top: 0.5em;
            background: $gray-light-3;
        }
    }
     
    &__body {
        padding: $pad-half;
     
        @media all and (min-width: $bp-large) {
            padding: $pad;
        }
    }
 
}

/*------------------------------------*\
    $COLOR SWATCHES
\*------------------------------------*/


//Color List
.color-swatch {
    padding: $pad-half;
    border: 1px solid $gray-light-2;
    border-radius: $border-radius;
     
    &__sample {
        height: 4em;
        margin-bottom: $space-quarter;
    }
     
    h4 {
        font-weight: 500;
        margin-bottom: $space-half;
    }
     
    dl {
        border-top: 1px solid $gray-light-2;
        font-size: $font-size-small;
    }
 
    dt {
        font-weight: normal;
    }
     
    dd {
        text-align: right;
    }
}

/*------------------------------------*\
    $TABLES
\*------------------------------------*/
 
//Lined Table
.lined-table {
    width: 100%;
 
    td, th {
        padding: $pad-half;
    }
 
    thead tr {
        border-top: 0;
    }
 
    tr {
        border-top: 1px solid $gray-light-2;
         
        > td:first-child, > th:first-child {
            padding-left: 0;
        }
         
        > td:last-child, > th:last-child {
            padding-right: 0;
        }
    }
     
    .td-usage {
        font-size: $font-size-small;
    }
     
    .td-download {
        width: 12em;
         
        .btn {
            display: block;
        }
    }
}
 
//Media Table
.media-table {
    width: 100%;
 
    thead {
        @media all and (max-width: $bp-small-3) {
            display: none;
        }
    }
 
    tbody {
        @media all and (max-width: $bp-small-3) {
            display: block;
        }
    }
 
    tr {
        border-bottom: 1px solid $gray-light-2;
        padding: 1em 0;
 
        @media all and (max-width: $bp-small-3) {
            display: block;
        }
    }
 
    td {
        padding-top: $pad;
        padding-bottom: $pad;
         
        &.media-table__img {
            max-width: 5em;
            padding-right: 1em;
            float: left;
            margin: 0;
     
            img {
                border: 1px solid $gray-light-2;
                border-radius: $border-radius;
                display: block;
            }
        }
 
        @media all and (max-width: $bp-small-3) {
            display: block;
            padding: 0;
            margin-left: 5em;
        }
    }
 
    &__title {
        font-weight: bold;
 
        h3 {
            margin: 0;
        }
    }
     
    &__link {
        word-break: break-word;
    }
 
    &__row--new a {
        color: $gray-light-2;
    }
 
    @media all and (max-width: $bp-small-3) {
        display: block;
    }
}

/*------------------------------------*\
    $TABS
\*------------------------------------*/
.tabbed {
    margin-bottom: $space;  
}
 
.tabs {
    &--on {
        position: relative;
        margin-bottom: $space;
    }
}
 
.tab__list {
    border-bottom: 1px solid $gray-light-3;
    margin-bottom: $space;
     
    li {
        outline: 0;
        display: inline-block;
        text-align: center;
        padding: 0.78em $pad-half;
        font-weight: 500;
        position: relative;
        bottom: -1px;
        line-height: 1.2;
        cursor: pointer;
        border-bottom: $border-med solid rgba(255,255,255,0);
        transition: all $anim-fast ease-out;
 
        &:hover, &:focus {
            border-color: $gray-light-3;
        }
 
        &.active {
            background: $white;
            color: $brand-color;
            border-color: $brand-color;
             
        }
         
        @media all and (min-width: $bp-med) {
            padding: 0.78em $pad;
        }
    }
}
 
.tab__body {
    outline: 0;
    padding: $pad 0;
    display: none;
 
    &.visible {
        display: block;
    }
}
 
//Button Tabs
.btn-tabs {
    &__list {
        text-align: center;
        margin-bottom: $space;
         
        li {
            display: inline-block;
            margin: 0 $space-half;
        }   
    }
     
    &__panel {
        overflow: hidden;
        max-height: 0;
        max-width: 46em;
        margin: 0 auto;
         
        &.active {
            max-height: none;
        }
    }
}

/*------------------------------------*\
    $TEXT
\*------------------------------------*/
 
//Intro text
.intro {
    font-size: $font-size-med-2;
    font-weight: 500;
}
 
//Instruction
.instruction {
    font-style: italic;
    font-size: $font-size-small-2;
    color: $gray-med;
     
    a {
        color: $gray;
        text-decoration: underline;
    }
}
 
.visibility {
    a {
        text-decoration: underline;
    }
}
 
//Add New
.add-new {
  font-style: italic;
  color: $gray-light-3;
}
 
 
//Passages of Text 
.text {
    a {
        text-decoration: underline;
    }
     
    h3 {
        font-size: 1.3em;
    }
 
    ul {
        list-style: disc;
        margin: 0 0 $space 1.2em;
 
        ul {
            margin-bottom: 0;
        }
    }
 
    ol {
        list-style: decimal;
        margin: 0 0 $space 1.2em;
 
        ol {
            margin-bottom: 0;
        }
    }
}

//Site Title

.site-title {
	display: block;
	font-size: 1.3rem;
	margin: 0 auto;
}