/*------------------------------------*\
    #NAVIGATION
\*------------------------------------*/

/* Navigation Wrapper */
.nav {
	display: flex;
	flex-direction: column;
	height: calc(100vh - 3.5em);
	background: $gray-light;
	position: absolute;
	left: 0;
	top: 3.5em;
	
	@media all and (min-width: 35em) {
		padding: 0;
		position: inherit;
		order: 1;
	}
}

/* Navigation Trigger Button */
.nav__trigger {
		display: block;
		
		@media all and (min-width: 35em) {
			display: none;
		}
	}

/* Navigation Primary List */
.nav__list {
	display: none;
	padding: 1em;
	min-width: 10em;
	
	/* .nav__list styling when nav is active */
	.nav--is-active & {
		display: block;
		top: 48px;
		left: 0;
		
		@media all and (min-width: 35em) {
			top: 0;
		}
	}
	
	@media all and (min-width: 35em) {
		display: block;
		padding: 0;
	}
}

/* Navigation Sub List */
.nav__sublist {
	display: none;
	background: $gray-light-2;
	height: 100vh;
	position: absolute;
	left: 160px;
	top: 0;
	min-width: 10em;
	
	/* .nav__sublist styling when nav is active */
	.nav--is-active & {
		left: 152px;
		
		@media all and (min-width: 35em) {
			left: 192px;
		}
	}
	
	/* .nav__sublist styling when nav__item is active */
	.nav__item--is-active & {
		display: block;
		padding: 0.5em;
	}
	
	@media all and (min-width: 35em) {
		width: 12em;
		top: 0;
		left: 192px;
	}
	
	@media all and (min-width: 74em) {
		.nav__item:first-of-type & {
			padding: 1em;
			display: block;
			height: calc(100vh - 3em);
		}
	}
}

/* Navigation Link */
.nav__link {
	display: flex;
}

/* Navigation Link That Uses Javascript for Functionality */
.js-nav__link {
	position: relative;
	
	/* Right Facing Arrow after Navigation Link between List and Sub List */
	&:after {
		content: "";
		display: block;
		width: 0; 
		height: 0; 
	    border-bottom: 10px solid transparent;
	    border-top: 10px solid transparent;
	    border-right: 10px solid $gray-light;
	    font-size: 0;
	    line-height: 0;
	    position: absolute;
	    top: 0;
	    right: -8px;
	    
	    @media all and (min-width: 35em) {
		    right: -16px;
	    }
	}
	
	/* .js-nav__link styling when nav__item is active */
	.nav__item--is-active & {
		&:after {
			border-right-color: $gray-light-2;
		}
	}
}

/* Secondary Nav */
.secondary-nav {
	display: none;
	margin-top: auto;
	
	/* Secondary Nav styling when Navigation is active */
	.nav--is-active & {
		display: block;
		position: absolute;
		bottom: 0;
		padding: 1em;
		width: 100%;
		
		@media all and (min-width: 35em) {
			padding: 0;
			position: inherit;
		}
	}
	
	@media all and (min-width: 35em) {
		display: block;
	}
}