/*------------------------------------*\
    #BLOCK
\*------------------------------------*/

/* Block Containing Title and List */
.block {
	padding: 1em;
	border: 1px solid $gray-dark;
}

/* List Inside of Block*/
.block__list {
	list-style: disc;
	margin-left: 1em;
}

/* Link Within Block */
.block__link {
	 box-shadow: 0 5px 1px -2px #e59400;
	 
	 &:hover, &:focus {
		 box-shadow: none;
	 }
}