/*------------------------------------*\
    #GRID NAV
\*------------------------------------*/

.c-grid-nav {
	display: flex;
	flex-wrap: wrap;
    overflow: hidden;
    box-shadow: inset 1px 1px 5px white;
    position: relative;
    flex: 1;

    &:before {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        width: 1px;
        height: 100%;
        background: $color-white;
    }

    &:after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 1px;
        background: $color-white;
    }
}

/**
 * Grid Navigation Item
 */
.c-grid-nav__item {
    display: flex;
	width: 50%;
    border-bottom: 1px dotted $color-gray-50;
    border-right: 1px dotted $color-gray-50;

    &:last-of-type {
        border-bottom: 0;
    }

    @media all and (min-width: $bp-med) {
        width: 33.33%;
    }
}

/**
 * Grid Navigation Link
 */
.c-grid-nav__link {
	display: flex;
	justify-content: center;
	align-items: center;
    text-align: center;
    font-size: 1.4rem;
	padding: 3rem 1.5rem;
    font-weight: bold;
    width: 100%;

	&:hover, &:focus {
		transform: scale(1.1);
	}
}
