/*------------------------------------*\
    #BANNER
\*------------------------------------*/

/* BANNER */
.c-banner {
	
	@media all and (min-width: 35em) {
		margin-bottom: 1em;
	}
}

.c-banner__heading {
	font-size: 2.5rem;
	
	@media all and (min-width: 35em) {
		font-size: 3.2rem;
	}
	
	@media all and (min-width: 74em) {
		font-size: 4.5rem;
	}
}