/*------------------------------------*\
    #BANNER
\*------------------------------------*/

/* BANNER */
.c-banner {
	padding: 1.5em 1em;
	margin: -1.5em -2em 0;
	background: $gray-dark;
}

.c-banner__heading {
	color: $white;
	margin: 0 0.5em;
}