/*------------------------------------*\
    #FOOTER
\*------------------------------------*/

.footer {
    width: 100%;
    background: $gray-light;
    font-size: $font-size-small;
    padding: 1rem 2rem;
    text-align: center;
}
