/*------------------------------------*\
    #BANNER
\*------------------------------------*/

/* BANNER */
.c-banner {
	padding: 1.5em 1em;
	margin: -1.5em -2em 0;
	
	@media all and (min-width: 35em) {
		margin-bottom: 1em;
	}
}

.c-banner__heading {
	margin: 0 0.5em;
	font-size: 2rem;
	
	@media all and (min-width: 35em) {
		font-size: 3rem;
	}
	
	@media all and (min-width: 55em) {
		font-size: 4.5rem;
	}
}