/*------------------------------------*\
    #HEADER
\*------------------------------------*/

.c-header {
    background: $color-gray-2;
    display: flex;
    align-items: center;
    z-index: 1;
    /**
	 * Header Active State
	 * 1) Triggered when Menu Button is clicked
 	 */
    &--is-active {
	    position: fixed;
	    width: 100%;
	    
	    @media all and (min-width: 35em) {
		    width: inherit;
	    }
    }

    @media all and (min-width: 35em) {
	    flex-direction: column;
	    position: fixed;
	    height: 100%;
	    align-items: flex-start;
        box-shadow: 3px 0 6px $color-gray-13;
    }
}

/**
 * Header Title
 * 1) The header title is the container area that houses
 * the style guide's title, which may include either a text
 * heading or logo.
 */
.c-header__title {
    margin: 0 auto;
    padding: 0.5rem 0.5rem;
    display: block;
    
    @media all and (min-width: 35em) {
	    padding: 0.5rem 1rem 1rem;
    }
}

/**
 * Logo
 */
.c-logo {
    display: block;
    margin: 0 auto;
    height: 60px;
    
    @media all and (min-width: 35em) {
	    height: auto;
    }
    
}
