/*------------------------------------*\
    #HEADER
\*------------------------------------*/

.sgg-header {
    background: $gray-light;
    padding: 1em;
    display: flex;
    
    &__title {
	    margin: 0 auto;
	    
	    @media all and (min-width: 35em) {
			margin: 0;
	    }
    }
    
    @media all and (min-width: 35em) {
	    flex-direction: column;
	    width: 12em;
    }
}

.sgg-main {
    width: 100%;
}
