/*------------------------------------*\
    #SGG NAVIGATION
\*------------------------------------*/

.sgg-nav {
	&__list {
		display: none;
		height: 100vh;
		padding: 0.5em;
		min-width:10em;
		
		&__item {
			
			&:hover, &:focus {
				.sgg-nav__sublist {
					display: block;
					padding: 0.5em;
				}
			}
		}
		
		&--active {
			display: block;
			position: absolute;
			background: $gray-light;
			top: 48px;
			left: 0;
			
			@media all and (min-width: 35em) {
				position: relative;
				top: 0;
			}
		}
		
		@media all and (min-width: 35em) {
			display: block;
		}
	}
	&__sublist {
		display: none;
		background: $gray-light-2;
		height: 100vh;
		position: absolute;
		left: 159px;
		top: 0;
		min-width: 10em;
		
		&:before {
			content: "";
			display: block;
			width: 0; 
			height: 0; 
		    border-bottom: 10px solid transparent;
		    border-top: 10px solid transparent;
		    border-right: 10px solid $gray-light-2;
		    font-size: 0;
		    line-height: 0;
		    position: absolute;
		    top: 9px;
		    left: -10px;
		}
	}
	
	&__link {
		display: flex;
	}
	
	@media all and (min-width: 35em) {
		order: 1;
	}
}
