/*------------------------------------*\
    #NAVIGATION
\*------------------------------------*/

.c-nav {
	display: flex;
	flex-direction: column;
	height: calc(100vh - 3.5em);
	background: $gray-light;
	position: absolute;
	overflow: auto;

	&--is-active {
		top: 3.5em;
		left: 0;
		width: 12em;

		@media all and (min-width: 35em) {
			top: 0;
			width: initial;
		}
	}

	@media all and (min-width: 35em) {
        border-top: 1px dotted #e6e6e6;
        position: relative;
		width: 12em;
		order: 1;
	}
}

/* Navigation Trigger Button */
.c-nav__trigger {
	display: block;
	position: absolute;
    top: 0.6em;
    left: 0.5em;
	border: 1px solid $gray-dark;
	background: $gray-light;
	border-radius: 5px;
	padding: 0.5em;

	@media all and (min-width: 35em) {
		display: none;
	}
}

/**
 * Nav List
 * 1) This is the primary navigation list
 */
.c-nav__list {
	display: none;
	background: $gray-light;

    /**
     * Nav list styling when parent nav is active
     */
	.c-nav--is-active & {
		display: block;
		top: 48px;
		left: 0;

		@media all and (min-width: 35em) {
			top: 0;
		}
	}

	@media all and (min-width: 35em) {
		display: block;
		padding: 0;
	}
}

/**
 * Nav Sublist
 */
.c-nav__sublist--has-children {
	max-height: 0px;
	overflow: hidden;
	background: #f9f7f7;
	box-shadow: 0 22px 11px -22px rgba(0,0,0,0.1) inset,
	            0 -22px 11px -22px rgba(0,0,0,0.1) inset;
	transition: all 0.2s ease-out;

    /**
     * Nav Sublist styling when parent nav item is active
     */
	.c-nav__item--has-children--is-active & {
		max-height: 800px;
        padding: 0.3rem 0;
        transition-timing-function: ease-in;
	}
}

/**
 * Nav list item
 */
.c-nav__item {
	border-bottom: 1px dotted #e6e6e6;
	background: $gray-light;
	position: relative;
	
	&--has-children {
		
		&:after {
			content: "";
		    position: absolute;
	        top: 20px;
			right: 10px;
		    display: block;
		    width: 0;
		    height: 0;
		    margin-left: -4px;
		    pointer-events: none;
		    border-top: 8px solid transparent;
		    border-bottom: 8px solid transparent;
		    border-left: 10px solid #5E5E5E;
	    }
	    
	    &--is-active {
		    
		    &:after {
			    transform: rotate(90deg);
			}
	    }
	}
}

/**
 * Nav link
 */
.c-nav__link {
	display: flex;
	padding: 1em;

	.c-nav__sublist__item & {
		display: block;
		padding: 0.5em 1em;
	}
}

/**
 * Nav link
 * 1) Link that uses JavaScript
 */
.js-nav__link {
	position: relative;
}

/**
 * Secondary Nav
 * 1) The secondary nav is a unordered list that contains secondary
 * links such as "About" and "Updates"
 */
.c-secondary-nav {
	margin-top: auto;
    display: none;

    /**
     * Secondary nav styling when parent nav is active
     */
	.c-nav--is-active & {
		display: block;
	}

	@media all and (min-width: 35em) {
		display: block;
	}
}
