/*------------------------------------*\
    #TOUT
\*------------------------------------*/

/* Tout List */
.c-tout__list {
	display: flex;
	flex-wrap: wrap;
}

.c-tout__item {
	margin: 0.5em;
	width: 10em;
}

.c-tout__link {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 1em;
	border: 2px solid $gray-dark;
	border-radius: 5px;
	
	&:hover, &:focus {
		transform: scale(1.1);
	}
}