/*------------------------------------*\
    #NAVIGATION
\*------------------------------------*/

.nav {	
	&__trigger {
		display: block;
		
		@media all and (min-width: 35em) {
			display: none;
		}
	}
	
	&__list {
		display: none;
		height: 100vh;
		padding: 1em;
		min-width: 10em;
		
		&--active {
			display: block;
			position: absolute;
			background: $gray-light;
			top: 48px;
			left: 0;
			
			.nav__sublist {
				left: 152px;
			}
			
			@media all and (min-width: 35em) {
				position: inherit;
				top: 0;
				
				.nav__sublist {
					left: 192px;
				}
			}
		}
		
		@media all and (min-width: 35em) {
			display: block;
			padding: 0;
		}
	}
	
	&__item {
			
		&.nav__item--active {
			.nav__sublist {
				display: block;
				padding: 0.5em;
			}
			
			>.nav__link {
				&:after {
					border-right-color: $gray-light-2;
				}
			}
		}
		
		>.nav__link {
			position: relative;
			
			&:after {
				content: "";
				display: block;
				width: 0; 
				height: 0; 
			    border-bottom: 10px solid transparent;
			    border-top: 10px solid transparent;
			    border-right: 10px solid $gray-light;
			    font-size: 0;
			    line-height: 0;
			    position: absolute;
			    top: 0;
			    right: -8px;
			    
			    @media all and (min-width: 35em) {
				    right: -16px;
			    }
			}
		}
	}

	
	&__sublist {
		display: none;
		background: $gray-light-2;
		height: 100vh;
		position: absolute;
		left: 160px;
		top: 8px;
		width: 10em;
		
		@media all and (min-width: 35em) {
			top: 0;
			left: 192px;
		}
	}
	
	&__link {
		display: flex;
	}
	
	@media all and (min-width: 35em) {
		order: 1;
	}
}
