/*------------------------------------*\
    #LAYOUT
\*------------------------------------*/

/**
 * Content
 */

.content {
    width: 100%;
    display: flex;
    flex-direction: column;
    flex: 1;
    
    &--is-overlayed {
	    padding-top: 4.75em;
    }
}

/**
 * 1 To 2 Up Grid Layout
 */
 
 .l-g--2up {
	 display: flex;
	 flex-direction: column;
	 
	 @media all and (min-width: 70em) {
		 flex-direction: row;
	 }
 }
 
 /**
 * 1 To 2 Up Grid Item
 */
 .l-g--2up__gi {
	 @media all and (min-width: 70em) {
		 width: 50%;
		 
		 &:first-child {
			 flex: 1;
			 margin-right: 1em;
		 }
	 }
 }


