@import "variables";
@import "mixins";

[role=main] {
	flex: 1 0 auto;
    padding: $spacing-unit 0;
}

.sgg-header {
	padding: 0.5em;
	border-bottom: 1px solid #000;
}

.sgg-footer {
	padding: 0.5em;
	border-top: 1px solid #000;
}

