/*------------------------------------*\
    #VARIABLES
\*------------------------------------*/

//Colors
$brand: #333;

$gray-light: #fbfbfb;
$gray-light-2: #ddd;
$gray-light-3: #bbb;
$gray-light-4: #999;
$gray-med: #666;
$gray: #808080;
$gray-dark: #333;
$gray-dark-2: #131313;
$white: #fff;
$black: #000;

$brand-color: #008ebc;


$tint: 20%;
$tint-med: 40%;
$tint-max: 70%;
$tone: 20%;
$tone-med: 40%;
$tone-max: 70%;

$dim-min: rgba(0,0,0,0.075);
$dim: rgba(0,0,0,0.35);
$dimmer: rgba(0,0,0,0.8);

$transparent-min: 0.9;
$transparent-med: 0.5;
$transparent-max: 0.1;


$success: #dff0d8;
$success-tone: darken( $success, $tone );
$success-tone-med: darken( $success, $tone-med );
$success-tone-max: darken( $success, $tone-max );
$info: #d9edf7;
$info-tone: darken( $info, $tone );
$info-tone-med: darken( $info, $tone-med );
$info-tone-max: darken( $info, $tone-max );
$warning: #fcf8e3;
$warning-tone: darken( $warning, $tone );
$warning-tone-med: darken( $warning, $tone-med );
$warning-tone-max: darken( $warning, $tone-max );
$error: #f2dede;
$error-tone: darken( $error, $tone );
$error-tone-med: darken( $error, $tone-med );
$error-tone-max: darken( $error, $tone-max );

//Typography
$font: "HelveticaNeue", "Helvetica", "Arial", sans-serif;

$font-size-small: 0.75em;
$font-size-small-2: 0.875em;
$font-size-med: 1em;
$font-size-med-2: 1.0625em;
$font-size-med-3: 1.2em;
$font-size-large: 1.4375em;
$font-size-xl: 2.2em;

//Layout
$max-width: 78em;

$header-height: 62px;
$header-height-large: 80px;
$header-padding-large: 1.2em;

//Defaults
$space: 1em;
$space-and-half: $space*1.5;
$space-double: $space*2;
$space-tripl: $space*3;
$space-quad: $space*4;
$space-half: $space/2;
$space-quarter: $space/4;
$pad: 1em;
$pad-and-half: $pad*1.5;
$pad-double: $pad*2;
$pad-half: $pad/2;
$pad-quarter: $pad/4;

//Borders
$border-med: 3px;
$border-thick: 10px;

$border-radius: 4px;

//Animation
$anim-fast: 0.15s;
$anim-slow: 2s;


//Breakpoints
$bp-small: 24em;
$bp-small-2: 29.75em;
$bp-small-3: 39.8em;
$bp-med: 46.8em;
$bp-med-2: 48em;
$bp-large: 50em;
$bp-large-2: 60em;
$bp-xl: 73em;
$bp-xxl: 89em;
$bp-xxxl: 93em;
