/*------------------------------------*\
    #VARIABLES
\*------------------------------------*/

//Colors
$color-brand: #008ebc; //brand-color

$color-gray-2: #fbfbfb;   //gray-light
$color-gray-3: #f9f7f7; //gray-light-1
$color-gray-13: #ddd; //gray-light-2
$color-gray-27: #bbb; //gray-light-3
$color-gray-40: #999; //gray-light-4
$color-gray-50: #808080; //gray
$color-gray-60: #666; //gray-med
$color-gray-63: #5E5E5E;  //gray-dark
$color-gray-93: #131313;  //gray-dark-2
$color-white: #fff; //white
$color-black: #000; //black

//Typography
$font: "HelveticaNeue", "Helvetica", "Arial", sans-serif;

$font-size-small: 0.75em;

//Defaults
$space: 1em;

//Borders
$border-radius: 5px;

//Animation
$anim-fast: 0.2s;

//Breakpoints
$bp-small: 35em;
$bp-med: 48em;
$bp-large: 70em;