---
layout: landing
type: landing
parent: Voice and Tone
resources:
- resource: Mail Chimp
  url: http://voiceandtone.com/success-message/
- resource: Lightning Design System
  url: https://www.lightningdesignsystem.com/voice-and-tone/
- resource: A List Apart Style Guide
  url: http://alistapart.com/about/style-guide
- resource: Dubizzle Style Guide
  url: http://dubizzle.uno/
- resource: Channel 4 Identity Style Guide
  url: http://www.channel4.com/about_c4/styleguide/downloads/C4StyleGuide1.1.pdf
---

<div class="c-banner">
	<h1 class="c-banner__heading">Voice and Tone</h1>
</div>

<div class="l-g l-g--2up">
	
	<div class="l-g__item">
		<p>Voice represents the message that the company wants to deliver to the user and the way the user perceives this message. Tone is the emotion behind the message, representing the company's voice but allowing the user to feel a certain way depending on the circumstance. Tone varies depending on the message the company is trying to convey and the situation that the user is in. Together, voice and tone convey the the company's message while making the users feel comfortable during their experience.</p>
	</div><!--end l-g__item--->
	
	<div class="l-g__item">
		
		<div class="c-block">
			<h2 class="c-block__heading">Resources</h2>
			<ul class="c-block__list">
				{% for item in page.resources %}
					<li class="c-block__item">
						<a href="{{ item.url }}" class="c-block__link">{{ item.resource }}</a>
					</li>
				{% endfor %}
			</ul>
		</div><!--end c-block-->
		
	</div><!--end l-g__item--->

</div><!--end l-g--2up--->
	
<ul class="c-grid-nav">
    {% for my_page in site.pages %}
		{% if my_page.title %}
			{% if my_page.title != "Overview" %}
				{% if my_page.group == "voice-and-tone" %}
				<li class="c-grid-nav__item">
					<a class="c-grid-nav__link" href="{% if my_page.title == 'Overview' %}/{{ my_page.group }}/index.html{% else %} {{ my_page.url | prepend: site.baseurl }}{% endif %}">
			      	{{ my_page.title }}
		          	</a>
			  	</li>
			  	{% endif %}
		  	{% endif %}
	  	{% endif %}
    {% endfor %}
</ul>