/*------------------------------------*\
    #BLOCK
\*------------------------------------*/

/**
 * Block Containing Title and List
 */
.c-block {
	padding: 1rem;
    margin-bottom: 2rem;
	border: 1px dotted $color-gray-63;
}

/**
 * Block Heading
 */
 .c-block__heading {
	 font-size: 1.4rem;
 }

/**
 * List Inside of Block
 */
.c-block__list {
	list-style: disc;
	margin-left: 1em;
}

/**
 * Link Within Block
 */
.c-block__link {
	 text-decoration: underline;
}
