/*------------------------------------*\
    #FOOTER
\*------------------------------------*/

.c-footer {
    width: 100%;
    font-size: $font-size-small;
    padding: 1rem 2rem;
    text-align: center;
}
