/*------------------------------------*\
    #LOGO
\*------------------------------------*/

/**
 * Branding image or text of the site
 */
.c-logo {
	margin: 0 2rem 0 0.5rem;
	width: 5rem;
	max-width: 14rem;

	@media all and (min-width: $bp-xl) {
		margin: 0;
		width: auto;
	}

	/**
	 * Logo within vertical header
	 */
	.c-header--vertical & {
		@media all and (min-width: $bp-xl) {
			margin: 0 0 1rem 0.5rem;
		}
	}
}

/**
 * Logo link
 */
.c-logo__link {
	display: block;
}
