---
layout: default
---

{% include page-header.html %}

<section class="c-section">
	<ul class="c-card-list l-grid l-grid--3up ">

		<li class="c-card-list__item l-grid__item">
			<a href="#" class="c-card ">

				<div class="c-card__header">
					Global
				</div>

				<div class="c-card__body">

					<h2 class="c-card__title">
						<span class="c-card__title-text">Header, Footer, Logo</span>
						<svg class="c-icon c-card__icon">
							<use href="..&#x2F;..&#x2F;icons.svg#chevron-right"></use>
						</svg>
					</h2><!-- end c-card__title -->

					<p class="c-card__desc">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam</p>

				</div><!-- end c-card__body -->


			</a><!-- end c-card -->
		</li>
		<li class="c-card-list__item l-grid__item">
			<a href="#" class="c-card ">

				<div class="c-card__header">
					Blocks
				</div>

				<div class="c-card__body">

					<h2 class="c-card__title">
						<span class="c-card__title-text">Cards, Tiles, Heroes</span>
						<svg class="c-icon c-card__icon">
							<use href="..&#x2F;..&#x2F;icons.svg#chevron-right"></use>
						</svg>
					</h2><!-- end c-card__title -->

					<p class="c-card__desc">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam</p>

				</div><!-- end c-card__body -->


			</a><!-- end c-card -->
		</li>
		<li class="c-card-list__item l-grid__item">
			<a href="#" class="c-card ">

				<div class="c-card__header">
				Lists
				</div>

				<div class="c-card__body">

					<h2 class="c-card__title">
						<span class="c-card__title-text">Link List, Card List</span>
						<svg class="c-icon c-card__icon">
							<use href="..&#x2F;..&#x2F;icons.svg#chevron-right"></use>
						</svg>
					</h2><!-- end c-card__title -->

					<p class="c-card__desc">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam</p>

				</div><!-- end c-card__body -->

			</a><!-- end c-card -->
		</li>
		<li class="c-card-list__item l-grid__item">
			<a href="#" class="c-card ">

				<div class="c-card__header">
					Navigation
				</div>

				<div class="c-card__body">

					<h2 class="c-card__title">
						<span class="c-card__title-text">Primary Navigation, Footer Navigation</span>
						<svg class="c-icon c-card__icon">
							<use href="..&#x2F;..&#x2F;icons.svg#chevron-right"></use>
						</svg>
					</h2><!-- end c-card__title -->

					<p class="c-card__desc">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam</p>

				</div><!-- end c-card__body -->


			</a><!-- end c-card -->
		</li>
		<li class="c-card-list__item l-grid__item">
			<a href="#" class="c-card ">

				<div class="c-card__header">
					Interactive
				</div>

				<div class="c-card__body">

					<h2 class="c-card__title">
						<span class="c-card__title-text">Tabs, Accordion</span>
						<svg class="c-icon c-card__icon">
							<use href="..&#x2F;..&#x2F;icons.svg#chevron-right"></use>
						</svg>
					</h2><!-- end c-card__title -->

					<p class="c-card__desc">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam</p>

				</div><!-- end c-card__body -->

			</a><!-- end c-card -->
		</li>

	</ul><!-- end c-card-list -->

</section>
