---
layout: default
---

<div class="c-banner">
	<h1 class="post-title {% if page.title %}c-banner__heading{% endif %}">{{ page.title }}</h1>
</div>

<div class="l-g l-g--2up">

	<div class="l-g__item">
		<p>{{ page.description }}</p>
	</div><!--end l-g__item--->

	<div class="l-g__item">
		{% include c-block.html %}
	</div><!--end l-g__item--->

</div><!--end l-g--2up--->

<ul class="c-grid-nav">
{% for my_page in site.pages %}
	{% if my_page.title %}
		{% if my_page.layout != "landing" %}
			{% if my_page.group == page.group %}
				<li class="c-grid-nav__item">
					<a class="c-grid-nav__link" href="{% if my_page.title == 'Overview' %}/{{ my_page.group }}/index.html{% else %} {{ my_page.url | prepend: site.baseurl }}{% endif %}">
			      	{{ my_page.title }}
		          	</a>
			  	</li>
	  		{% endif %}
	  	{% endif %}
  	{% endif %}
{% endfor %}
</ul>
