/*------------------------------------*\
    #BODY
\*------------------------------------*/

/**
 * HTML base styles
 */
html {
	height: 100%;
}

/**
 * Body base styles
 */
body {
	background: $color-white;
	font: 100%/1.5 $font;
	-webkit-text-size-adjust: 100%;
	color: $color-gray-73;
	display: flex;
	flex-direction: column;
	height: 100%;
}
