/*------------------------------------*\
    #BODY
\*------------------------------------*/

/**
 * HTML base styles
 */
html {
	height: 100%;
}

/**
 * Body base styles
 */
body {
	background: $color-white;
	font: 100%/1.5 $font;
	-webkit-text-size-adjust: 100%;
	color: $color-gray-73;
	display: flex;
	flex-direction: column;
	height: 100%;
}

.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap; // *
  width: 1px;
  // *
  // ensures that words don't get
  // combined together by ATs
}
